<form method="post" action="/login">

    User:
    <input type="text" name="user" placeholder="Your login"/><br/>
    Pass:
    <input type="password" name="pass"/>
    <button>login</button>

</form>